
.desktop {
	margin: 0 auto;
	max-width: 1920px;
  }
  .splash {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
  }
  .content {
	display: flex;
	align-self: stretch;
	background-image: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  }
  .grid {
	display: flex;
	padding: 0 160px;
	flex-direction: column;
  }
  .frame3 {
	display: flex;
	margin-bottom: 60px;
	flex-direction: column;
  }
  .frame4 {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
  }
  .text {
	color: #F0145A;
	margin-right: 2px;
  }
  .what {
	color: #F0145A;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 38px;
  }
  .arrow {
	width: 12px;
	height: 12px;
  }
  .row {
	display: flex;
	margin-bottom: 60px;
  }
  .icon {
	display: flex;
	padding: 14px;
	border-radius: 24px;
	margin-bottom: 30px;
	background-color: white;
  }
  .assets-services {
	width: 64px;
	height: 64px;
	position: relative;
	box-sizing: border-box;
  }
  .frame111 {
	display: flex;
	flex-direction: column;
  }
  .text1 {
	color: #24A3FF;
	font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
	margin-bottom: 15px;
  }
  .text2 {
	color: #FFFFFF;
	font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
  .item {
	width: 493px;
	display: flex;
	align-items: flex-start;
	margin-right: 60px;
	flex-direction: column;
  }
  .row1 {
	display: flex;
  }
  .frame35 {
	display: flex;
	position: relative;
	align-self: stretch;
	box-sizing: border-box;
	align-items: flex-start;
	border-color: transparent;
	margin-right: 0;
	border-radius: 0px 0px 0px 0px;
	margin-bottom: 0;
	flex-direction: column;
  }  
  .shadow {
	display: flex;
	position: relative;
	align-items: flex-start;
  }
  .spacer {
	height: 60px;
	display: flex;
  }
  .clients {
	display: flex;
	padding: 0 100px;
  }
  .row2 {
	display: flex;
  }
  .item06 {
	width: 430px;
	position: relative;
	background-color: rgba(28, 66, 128, 1);
  }
  .hillel-logo {
	top: 36px;
	left: 107px;
	width: 217px;
	height: 48px;
	position: absolute;
	box-sizing: border-box;
	border-color: transparent;
	border-radius: 12px 0 0;
  }
  .item07 {
	width: 430px;
	position: relative;
	background-color: rgba(20, 54, 70, 1);
  }
  .image {
	top: 44px;
	left: 116px;
	width: 199px;
	height: 32px;
	position: absolute;
	box-sizing: border-box;
	border-color: transparent;
  }
  .item08 {
	width: 430px;
	position: relative;
	background-color: rgba(244, 139, 48, 1);
  }
  .logo1 {
	top: 38px;
	left: 126px;
	width: 179px;
	height: 44px;
	position: absolute;
	box-sizing: border-box;
	border-color: transparent;
  }
  .item09 {
	width: 430px;
	height: 120px;
	display: flex;
	position: relative;
	flex-grow: 1;
	align-items: flex-start;
	border-color: transparent;
	background-color: rgba(158, 77, 195, 1);
  }
  .retina2 {
	top: 39px;
	left: 125px;
	position: absolute;
  }
  .row3 {
	display: flex;
	position: relative;
	align-items: flex-start;
	flex-shrink: 0;
  }
  .item10 {
	width: 430px;
	height: 120px;
	display: flex;
	position: relative;
	align-items: flex-start;
	background-color: rgba(253, 147, 57, 1);
  }
  .frame6 {
	top: 38px;
	left: 128px;
	position: absolute;
  }
  .item11 {
	width: 430px;
	height: 120px;
	display: flex;
	position: relative;
	flex-grow: 1;
	align-items: flex-start;
	background-color: rgba(226, 226, 228, 1);
  }
  .frame7 {
	top: 36px;
	left: 103px;
	position: absolute;
  }
  .item12 {
	width: 430px;
	height: 120px;
	display: flex;
	position: relative;
	flex-grow: 1;
	align-items: flex-start;
	background-color: rgba(199, 28, 54, 1);
  }
  .logo2 {
	top: 29px;
	left: 146px;
	position: absolute;
  }
  .item13 {
	width: 430px;
	height: 120px;
	display: flex;
	position: relative;
	flex-grow: 1;
	align-items: flex-start;
	background-color: rgba(220, 243, 249, 1);
  }
  .ecolease {
	top: 22px;
	left: 142px;
	position: absolute;
  }
  .row4 {
	display: flex;
  }
  .item14 {
	width: 430px;
	height: 120px;
	display: flex;
	position: relative;
	flex-grow: 1;
	align-items: flex-start;
	background-color: rgba(233, 233, 233, 1);
  }
  .image1 {
	top: 30px;
	left: 124px;
	position: absolute;
  }
  .item15 {
	width: 430px;
	height: 120px;
	display: flex;
	position: relative;
	flex-grow: 1;
	box-sizing: border-box;
	align-items: flex-start;
	background-color: rgba(40, 34, 64, 1);
  }
  .iconlogo1 {
	top: 41px;
	left: 125px;
	position: absolute;
  }
  .item16 {
	width: 430px;
	height: 120px;
	display: flex;
	position: relative;
	flex-grow: 1;
	align-items: flex-start;
	background-color: rgba(29, 69, 104, 1);
  }
  .logo {
	top: 37px;
	left: 121px;
	position: absolute;
  }
  .item17 {
	width: 430px;
	height: 120px;
	display: flex;
	position: relative;
	flex-grow: 1;
	align-items: flex-start;
	background-color: rgba(0, 0, 0, 1);
  }
  .logo-m {
	top: 13px;
	left: 139px;
	position: absolute;
  }
  